.video-container {
    margin-top: 100px;
    border-radius: 16px;
    width: 440px;
    border: 1px solid white;
  }

  .video-container > video {
    height: 327px;
    border-radius: 16px;
  }

  .video {
    transform: scaleX(-1); 
}
.switch-camera-btn {
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.switch-camera-btn:hover {
  background-color: #0056b3;
}
.capturedImage-container {
  margin-top: 20px;
  text-align: center;
}

.captured-image {
  max-width: 100%; /* Ensure the image doesn't exceed its container's width */
  height: auto; /* Maintain aspect ratio */
  border: 2px solid #ccc; /* Optional: Add a border for better visibility */
  border-radius: 10px; /* Optional: Add rounded corners */
}